<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static-resx/css/normalize.css" />
    <link rel="stylesheet" href="/static-resx/ico/lucide.css" />
    <link rel="stylesheet" href="/static-resx/css/fontface.css" />
    <link rel="stylesheet" href="/static-resx/css/toastify.min.css" />

    <link rel="stylesheet" href="/static-resx/css/fileManager.css" />

    <!--Disable favicon for now to prevent 404 errors.-->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">


    <title>File Manager</title>
</head>

<body class="theme-dark">
    <!--[if IE]><p style="color: red;">WARNING: YOU ARE NOT USING A SUPPORTED BROWSER.</p><![endif]-->
    <!--[if IE]><p style="color: red;">PLEASE USE A MODERN BROWSER SUCH AS CHROME, FIREFOX, OR EDGE.</p><![endif]-->

    <!--Contains the wrapper that may be displaced by the sidebar.-->
    <div id="filemanager-wrapper" class="main">
        <!--Navigational Elements-->
        <div class="fm-headnav_d">
            <div class="logoContainer">
                <img class="nav-logo" alt="ShadowBox Logo" src="/static-resx/img/sb_logo_text.png">
            </div>

            <nav class="head_navigation">
                <ul>
                    <li>
                        <button type="button" class="nav-btn"><i class="icon-cog"></i>&nbsp;&nbsp;Account
                            Settings</button>
                    </li>
                    <li>
                        <button onclick="window.location='/logout';" type="button" class="nav-btn"><i class="icon-log-out"></i>&nbsp;&nbsp;Logout</button>
                    </li>
                </ul>
            </nav>

            <i id="menu" class="menu_icon">
                <button type="button" class="nav-btn btn-mobile"><i class="icon-cog"></i></button>
                <button type="button" class="nav-btn btn-mobile"><i class="icon-log-out"></i></button>
            </i>
        </div>

        <div class="v-wrapper">


            <div id="fileTreeView" class="fileTreeView v-left">

                <table>
                    <tr>
                        <td class="search">
                            <input type="text" placeholder="🔎 Search..." />
                        </td>
                        <td class="controls">
                            <!--Search-->
                            <button class="btn-sidebar"><i class="icon-search"></i></button>
                            <!--Refresh-->
                            <button id="btn-sidebar_reloadDirList" onclick="regenerateFolderStructure();" class="btn-sidebar disabled"><i class="icon-refresh-cw"></i></button>
                            <!--Close Panel-->
                            <button class="btn-sidebar"><i class="icon-panel-left-close"></i></button>
                        </td>
                    </tr>
                </table>
                
                


                <ul id="fileTree">
                    <!--
                    <li><span class="folder caret root"><i class="icon-home"></i> My Files</span>
                        <ul class="nested">
                        
                          <li><span class="folder caret">Work</span>
                            <ul class="nested">
                              <li class="fileItem folder">Projects</li>
                              <li class="fileItem folder">Letters</li>
                              <li><span class="caret">Presentations</span>
                                <ul class="nested">
                                  <li>Sencha</li>
                                  <li>Gyokuro</li>
                                  <li>Matcha</li>
                                  <li>Pi Lo Chun</li>
                                </ul>
                              </li>
                            </ul>
                          </li>

                          <li class="fileItem folder">Documents</li>

                          <li class="fileItem folder">Pictures</li>
                          <li class="fileItem folder">Music</li>
                          <li class="fileItem folder">Videos</li>
                        </ul>
                      </li>
                      -->
                </ul>

                <div class="statusContainer" id="fileTree-status">
                    <!--Begin Preloader-->
                    <span class="status">
                        <span class="loader">
                            <span class="loader-box"></span>
                            <span class="loader-box"></span>
                            <span class="loader-box"></span>
                        </span>
                        &ensp;Introspecting...
                        
                    </span>
                    <!--End Preloader-->
                </div>

                <div class="sidebar-interfaces">
                    <p>
                        <span id="sidebar-interfaces_loader" class="loader" data-pos-origin="inline-block"></span>
                        <span id="sidebar-interfaces_description" class="description" data-pos-origin="inline-block">Loading...</span>
                        <button id="sidebar-interfaces_stats" class="btn-rounded" data-pos-origin="inline-block"><i class="icon-bar-chart-4"></i></button>
                    </p>
                </div>


            </div>

            <div class="v-right">

                <!--Tool Ribbon-->
                <div class="fm-ribbon">
                    <button title="Creates a New File in the current directory."><i class="icon-file-plus-2"></i> New
                        File</button>
                    <button title="Creates a New Folder in the current directory."><i class="icon-folder-plus"></i> New
                        Folder</button>
                    <button title="Upload a file from your PC"><i class="icon-upload-cloud"></i> Upload File</button>
                    <button title="Decrypts & Downloads the selected file from the server."><i
                            class="icon-download"></i>
                        Download</button>
                    <button title="Move the selected file's directory."><i class="icon-move"></i> Move</button>
                    <button title="Opens the selected file in the file editor."><i class="icon-pencil"></i>
                        Edit</button>
                    <button title="Change the file's name."><i class="icon-pen-line"></i> Rename</button>
                    <button title="Deletes a file from the server" class="danger"><i class="icon-file-x-2 danger"></i>
                        Delete</button>
                    <span class="spacer">|</span>
                    <button title="Create a sharing opportunity or manage permissions."><i class="icon-users"></i>
                        Share</button>
                    <button title="Opens the File Property viewer."><i class="icon-table-properties"></i> Properties</button>

                </div>

                <!--Tool Ribbon For Mobile, Minus Text, Icon Only-->
                <div class="fm-ribbon-mobile">
                    <button title="New File"><i class="icon-file-plus-2"></i></button>
                    <button title="New Folder"><i style="color: goldenrod;" class="icon-folder-plus"></i></button>
                    <button title="Upload File"><i class="icon-upload-cloud"></i></button>
                    <button title="Download File"><i class="icon-download"></i></button>
                    <button title="Move File"><i class="icon-move"></i></button>
                    <button title="Edit File"><i class="icon-pencil"></i></button>
                    <button title="Rename File"><i class="icon-pen-line"></i></button>
                    <button title="Delete File"><i class="icon-file-x-2"></i></button>
                    <button title="Share File"><i class="icon-users"></i></button>
                    <button title="File Properties"><i class="icon-table-properties"></i></button>
                </div>

                <!--File Contents-->
                <div id="fm-fileview" class="fm-fileview">
                    <div class="pathContainer">
                        <button><i class="icon-arrow-left"></i></button>
                        <button><i class="icon-arrow-right"></i></button>
                        <button id="btnNavigateUpDirectory"><i class="icon-arrow-up"></i></button>
                        <span>&emsp;</span>
                        <span><i class="icon-hard-drive"></i> <span id="filebrowser-path"><i>Loading...</i></span></span>
                    </div>
                    <div id="file-browser-container" class="file-browser-container">
                        <table id="file-browser" class="file-browser" style="height: 100%;" data-ctm="right click action!">
                            <thead data-no-ctm="true">
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td>Name <i class="icon-arrow-down-a-z"></i></td>
                                <td>Size</td>
                                <td>Type</td>
                                <td>Date Modified</td>
                                <td>Flags</td>
                            </tr>
                            </thead>

                            <tbody id="file-browser-body">
                            <!--
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><img src="/static-resx/ico/files/folder.png" alt="icon" /> Documents</td>
                                <td></td>
                                <td>File Folder</td>
                                <td>09/30/2023 4:15 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><img src="/static-resx/ico/files/folder.png" alt="icon" /> Pictures</td>
                                <td></td>
                                <td>File Folder</td>
                                <td>09/30/2023 4:15 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td><img src="/static-resx/ico/files/folder.png" alt="icon" /> Video</td>
                                <td></td>
                                <td>File Folder</td>
                                <td>09/30/2023 4:15 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                                <td><i class="icon-shield-check"></i></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/image.png" alt="icon"/> Sky Background Photograph.png</td>
                                <td>2MB</td>
                                <td>Image (PNG)</td>
                                <td>09/30/2023 9:00 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/document.png" alt="icon"/>  Document.docx</td>
                                <td>1.2MB</td>
                                <td>Document (DOCX)</td>
                                <td>09/30/2023 2:30 PM</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"/></td>
                                <td><img src="/static-resx/ico/files/pdf.png" alt="icon"/>  Important Report.pdf</td>
                                <td>3.8MB</td>
                                <td>PDF Document</td>
                                <td>09/30/2023 4:15 PM</td>
                            </tr>
                            -->



                            </tbody>
                        </table>
                    </div>


                    <!--<p>Showing 1 of 1 page(s).</p>-->
                    <!--
                    <p>Keep Yourself Safe <b>NOW</b>!</p>
                    <button onclick="toggleSideBar();">Open Nav</button>

                    <p>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
                        -->
                </div>
                

            </div>
        </div>

    </div>

    <!--Sidebar File Property Viewer-->
    <div id="propViewer" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
        <p style="color: white;">This is the file properties viewer.</p>
    </div>

    <!--Page Right Click Context Menu-->
    <div id="contextMenu" class="contextMenu">
        <ul>
            <li><a href="#to=0"><i class="icon-eye"></i> View</a></li>
            <li><a href="#to=0"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="#to=0"><i class="icon-download"></i> Download</a></li>
            <li><a href="#to=0"><i class="icon-pencil-line"></i> Rename</a></li>
            <li><a href="#to=0"><i class="icon-trash-2"></i> Delete</a></li>
            <li><a href="#to=0"><i class="icon-info"></i> Properties</a></li>
            <li><a href=""><i class="icon-file-symlink"></i> New Shortcut</a></li>
            <li><a href=""><i class="icon-users"></i> Advanced Sharing & Audit</a></li>
        </ul>
    </div>

    <input type="hidden" id="csrf_token" value="<%= csrf_token %>" />

    <script src="/static-resx/js/filemanager-sidenav.js"></script>
    <script src="/static-resx/js/filemanager-context.js"></script>
    <script src="/static-resx/js/filemanager-filebrowser.js"></script>
    <script src="/static-resx/js/filemanager-folderStructure.js"></script>
    <script src="/static-resx/js/filemanager-styles.js"></script>
    <script src="/static-resx/js/toastActions.js"></script>
    <script src="/static-resx/js/toastify.min.js"></script>


</body>

</html>