<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static-resx/vendor/normalize.css" />
    <link rel="stylesheet" href="/static-resx/vendor/ico/icomoon-ultimate-webfont.css" />

    <link rel="stylesheet" href="/static-resx/css/fileManager-nav.css" />

    <title>ShadowBox File Manager</title>
</head>
<body>
    <!--Navigational Elements-->
    <div class="fm-headnav_d">
        <div class="logoContainer">
            <img class="nav-logo" alt="ShadowBox Logo" src="/static-resx/img/sb_logo_text.png">
        </div>
        

        <nav class="head_navigation">
            <ul>
                <li>Account Settings</li>
                <li>Log Out</li>
            </ul>
        </nav>

        <i id="menu" class="menu_icon"><img src="/static-resx/img/sb_logo.png"></i>
    </div>

    <!--Tool Ribbon-->
    <div class=""></div>

    <i class="icmn-menu"></i>
</body>
</html>