:root {
  --background-color: #FFFFFF;
  --control-color: #EBEBEE;
  --control-hover-color: #D8D8D8;
  --navigation-color: #2B446A;
  --theme-color: #2B445A;
  --theme-hover-color: #1B619E;
  --theme-active-color: #1F84DC;
  --default-text-color: #000000;
  --maximum-color: #000;
}

.theme-dark {
  --background-color: #181818;
  --control-color: #242424;
  --control-hover-color: #242424;
  --navigation-color: linear-gradient(to right, #162132, #253b5b);
  --theme-color: #328bda;
  --theme-hover-color: rgb(45, 152, 245);
  --theme-active-color: #3ba4ff;
  --default-text-color: rgb(212, 212, 212);
  --maximum-color: #FFFFFF;
}

/* Navigational Element containing the Logo and User Options, displayed on the top of the page DESKTOP */
.fm-headnav_d {
  background: var(--navigation-color);
  display: flex;
  justify-content: space-between;
}

/* Large Logo with Text */
.nav-logo {
  width: auto;
  height: 55px;
}

/* container for the logo */
.logoContainer {
  padding: 2px;
}

nav ul {
  display: flex;
}

/* add margin to list items, remove any bullets */
nav ul li {
  margin: 0 12px;
  list-style-type: none;
}

li {
  margin-top: 5px;
}

/* by default, not displayed, overriden by media query */
.menu_icon {
  display: none;
}

/* Media Query that changes the nav bar to a hamburger menu for mobile */
@media (max-width: 750px) {
  nav {
    display: none;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li {
    margin: 1.8rem 0;
  }
  #menu {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
.nav-extension {
  margin-left: 10rem;
  margin-right: 10rax;
  color: #ffafaf;
}

/* default styles for nav button */
.nav-btn {
  background-color: var(--control-color);
  padding: 5px 8px;
  border: 1px solid gray;
  font-size: 14px;
  color: var(--default-text-color);
  font-weight: medium;
}

/* adds square padding to mobile nav buttons */
.btn-mobile {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: transparent !important;
  border: 0px;
  font-size: 80%;
  color: var(--control-color);
}

.btn-mobile:hover {
  color: dimgrey;
  background-color: transparent !important;
}

/* hover and active styles for nav buttons */
.nav-btn:hover {
  background-color: var(--control-hover-color);
}

.nav-btn:active {
  background-color: var(--control-active-color);
}

/* RIBBON ELEMENTS */
.fm-ribbon {
  background-color: var(--control-color);
  /* force items to stay on one line, never overflow */
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

.fm-ribbon button {
  background-color: var(--control-color);
  color: var(--theme-color);
  white-space: nowrap;
  border: 0px;
  padding: 6px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.fm-ribbon button:hover {
  color: var(--theme-hover-color);
}

.fm-ribbon button:active {
  color: var(--theme-active-color);
}

.fm-ribbon-mobile {
  display: none; /* media query only*/
  background-color: var(--control-color);
  /* force items to stay on one line, never overflow and allow scrollbar*/
  white-space: nowrap;
  overflow-x: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.fm-ribbon-mobile button {
  color: var(--theme-color);
  background-color: var(--control-color);
  white-space: nowrap;
  border: 0px;
  padding: 10px;
  border-right: 1px solid #2b445a;
}

.danger {
  color: rgb(217, 2, 2) !important;
}

/* test */
span.spacer {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 750px) {
  .fm-ribbon {
    display: none;
  }
  .fm-ribbon-mobile {
    display: block;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 60px;
}

.sidenav a {
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  /* Change right to left */
  font-size: 36px;
  margin-right: 50px;
  /* Change margin-left to margin-right */
}

/* this class will be added to the #filemanager-wrapper div when the sidebar is revealed NOT on mobile.*/
@media (min-width: 750px) {
  .filemanager-wrapper {
    margin-right: 250px;
    transition: all 0.5s;
  }
  /* this class plays the closing animation when the sidebar is closed NOT on mobile.*/
  .filemanager-wrapper-closed {
    margin-right: 0px;
    transition: all 0.5s;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
ul, #fileTree {
  list-style-type: none;
  font-size: 15px;
}

#fileTree {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
}

.fileItem:before {
  font-family: "lucide" !important;
}
.fileItem.generic:before {
  content: "\f2e8";
  margin-right: 6px;
  display: inline-block;
}
.fileItem.folder:before {
  content: "\f30e";
  margin-right: 6px;
  display: inline-block;
}

.caret.folder {
  cursor: pointer;
  user-select: none;
  color: var(--maximum-color);
}
.caret.folder::before {
  font-family: "lucide" !important;
  content: "\f30e";
  color: orange;
  display: inline-block;
  margin-right: 6px;
}

.caret.folder-down::before {
  content: "\f31f" !important;
}

.nested {
  display: none;
}

.active {
  display: block;
}

li:not(.first) {
  margin-top: 4px;
}

.fileTreeView {
  position: relative;
}
.fileTreeView table {
  width: 100%;
}
.fileTreeView table tr td {
  text-align: center;
}
.fileTreeView table tr td.search {
  width: 80%;
  text-align: center;
}
.fileTreeView table tr td.search input {
  margin-left: 6px;
  width: calc(95% - 6px);
  background-color: transparent;
  border: 1px solid var(--default-text-color);
  border-radius: 2px;
  padding: calc(5px + 0.2rem);
  color: var(--default-text-color);
  transition: none;
  font-size: 0.9rem;
}
.fileTreeView table tr td.search input :focus {
  outline: none;
}
.fileTreeView table tr td.search input::placeholder {
  content: "Search";
}
.fileTreeView table tr td.controls {
  width: 20%;
  text-align: center;
}
.fileTreeView table tr td.controls button {
  background-color: transparent;
  border: none;
  color: var(--theme-color);
  transition: all 0.1s ease-in-out;
}
.fileTreeView table tr td.controls button :hover {
  color: var(--theme-hover-color);
}
.fileTreeView table tr td.controls button :active {
  color: var(--theme-active-color);
}
.fileTreeView div.statusContainer {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.fileTreeView div.statusContainer span.status {
  font-size: 0.8rem;
  text-align: center;
}
.fileTreeView button.btn-sidebar {
  display: inline;
  cursor: pointer;
}
.fileTreeView .interfaceControls {
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.loader {
  height: 8px;
  width: 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0px 2px;
  background-color: rgb(0, 146, 255);
  animation-name: fadeOutIn;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loader-box:nth-child(1) {
  animation-delay: 250ms;
} /* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) {
  animation-delay: 500ms;
} /* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) {
  animation-delay: 750ms;
} /* (3/2) * <animation-duration: 500ms */
@keyframes fadeOutIn {
  0% {
    background-color: var(--theme-color);
  }
  100% {
    background-color: rgba(0, 146, 255, 0);
  }
}
body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--background-color);
  color: var(--default-text-color);
}

#filemanager-container {
  padding: 10px;
}

.v-wrapper .v-left {
  /* navigational tree view */
  background-color: var(--control-color);
  width: 16%;
  height: calc(100vh - 65px);
  float: left;
}
.v-wrapper .v-left .tree-container {
  padding: 10px;
}
.v-wrapper .v-right {
  /* file content view */
  width: 84%;
  float: right;
  word-wrap: break-word;
}
.v-wrapper .fullwidth {
  width: 100%;
}
.v-wrapper .hidden {
  width: 0%;
}

.fm-fileview {
  padding: 10px;
}

/*# sourceMappingURL=fileManager.css.map */
