.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    /* Change right to left */
    font-size: 36px;
    margin-right: 50px;
    /* Change margin-left to margin-right */
}

/* this class will be added to the #filemanager-wrapper div when the sidebar is revealed NOT on mobile.*/
@media (min-width: 750px) {
    .filemanager-wrapper {
        margin-right: 250px;
        transition: all 0.5s;
    }

    /* this class plays the closing animation when the sidebar is closed NOT on mobile.*/
    .filemanager-wrapper-closed {
        margin-right: 0px;
        transition: all 0.5s;
    }
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* File Tree */
/* Remove default bullets */
ul,
#fileTree {
    list-style-type: none;
    font-size: 15px;
}

/* Remove margins and padding from the parent ul */
#fileTree {
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 28px;
    
}

.fileItem:before {
    font-family: 'lucide' !important;
}

.fileItem.generic:before {
    content: "\f2e8";
    margin-right: 6px;
    display: inline-block;
}

.fileItem.folder:before {
    content: "\f30e";
    margin-right: 6px;
    display: inline-block;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    color: var(--maximum-color);
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    font-family: 'lucide' !important;
    content: "\f30e";
    color: orange;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    content: "\f31f" !important;
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

//Apply to all li items, but not those with the class "first"
li:not(.first) {
    margin-top: 4px;
}