.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    /* Change right to left */
    font-size: 36px;
    margin-right: 50px;
    /* Change margin-left to margin-right */
}

/* this class will be added to the #filemanager-wrapper div when the sidebar is revealed NOT on mobile.*/
@media (min-width: 750px) {
    .filemanager-wrapper {
        margin-right: 250px;
        transition: all 0.5s;
    }

    /* this class plays the closing animation when the sidebar is closed NOT on mobile.*/
    .filemanager-wrapper-closed {
        margin-right: 0px;
        transition: all 0.5s;
    }
}

    
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}