.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 60px;
}

.sidenav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    /* Change right to left */
    font-size: 36px;
    margin-right: 50px;
    /* Change margin-left to margin-right */
}

/* this class will be added to the #filemanager-wrapper div when the sidebar is revealed NOT on mobile.*/
@media (min-width: 750px) {
    .filemanager-wrapper {
        margin-right: 250px;
        transition: all 0.5s;
    }

    /* this class plays the closing animation when the sidebar is closed NOT on mobile.*/
    .filemanager-wrapper-closed {
        margin-right: 0px;
        transition: all 0.5s;
    }
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

ul,#fileTree {
	list-style-type: none;
	font-size: 15px;
}
#fileTree {
	margin: 0;
	padding: 10px;
	padding-bottom: 0px;
}
.fileItem {
    cursor: alias;
	&:before {
		font-family: 'lucide' !important;
	}
	&.generic {
		&:before {
			content: "\f2e8";
			margin-right: 6px;
			display: inline-block;
		}
	}
	&.folder {
		&:before {
			content: "\f30e";
			margin-right: 6px;
			display: inline-block;
		}
	}

    //If .folder is hovered, change the color of the icon
    &:hover {
        &:before {
            color: var(--maximum-color);
        }
    }
}


.caret.folder {
	cursor: pointer;
	user-select: none;
	color: var(--maximum-color);
	&::before {
		font-family: 'lucide' !important;
		content: "\f30e";
		color: orange;
		display: inline-block;
		margin-right: 6px;
	}

    //If .caret.folder is hovered, change the color of the icon
    &:hover {
        &:before {
            color: gold;
        }
    }
}
.caret.folder-down {
	&::before {
		content: "\f31f" !important;
	}
}
.nested {
	display: none;
}
.active {
	display: block;
}
//Apply to all li items, but not those with the class "first"
li:not(.first) {
	margin-top: 4px;
}

.fileTreeView {
    position: relative;

    table {
        width: 100%;
        tr {
            td {
                text-align: center;
            }
            td.search {
                width: 80%;
                text-align: center;
                input {
                    margin-left: 6px;
                    width: calc(95% - 6px);
                    background-color: transparent;
                    border: 1px solid var(--default-text-color);
                    border-radius: 2px;
                    padding: calc(5px + 0.2rem);
                    color: var(--default-text-color);
                    transition: none;
                    font-size: 0.9rem;
                    :focus {
                        outline: none;
                    }
                }
                input::placeholder {
                    content: "Search";
                }
            }
            td.controls {
                width: 20%;
                text-align: center;
                button {
                    background-color: transparent;
                    border: none;
                    color: var(--theme-color);
                    transition: all 0.1s ease-in-out;
                    :hover {
                        color: var(--theme-hover-color);
                    }
                    :active {
                        color: var(--theme-active-color);
                    }
                }

            }
        }
    }

    div.statusContainer {
        padding-top: 1rem;

        text-align: center;
        width: 100%;
        span.status {
            font-size: 0.8rem;
            text-align: center;
        }
    }


    button.btn-sidebar {
        display: inline;
        cursor: pointer;
    }
	//Contains interface controls for the file manager
    .sidebar-interfaces {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
		text-align: center;

		//Top border is a gradient
		border-top: 1px solid var(--background-color);

		.loader {
			height: 1rem;
			width: 1rem;
			border: 2px solid var(--background-color);
			border-bottom-color: var(--theme-active-color);
			border-radius: 50%;
			display: inline-block !important; /* !important is needed to override hidden props in JS resizeObserver */
			box-sizing: border-box;
			animation: rotation 0.5s linear infinite;
		}

		.btn-rounded {
			border-radius: 50%;
			padding: 0.5rem 0.6rem;
			margin-left: 0.5rem;
			border: 1px solid var(--control-hover-edge-color);
			background-color: var(--control-hover-color);
			color: var(--default-text-color);
			//Hover transition ONLY. No transition on active state.
			transition: background-color .1s ease-in-out;
			&:hover {
				background-color: var(--control-hover-edge-color);
			}
			&:active {
				transition: none;
				background-color: rgba(var(--control-hover-edge-color), 0.5);
			}
		}

		@keyframes rotation {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

	}
}

.loader {
	height: 8px;
	width: 36px; /* (6 * <margin: 2px>) + (3 * <width: 8px>) */
}

.loader-box {
	display: inline-block;
	height: 8px;
	width: 8px;
	margin: 0px 2px;
	background-color: rgb(0, 146, 255);
	animation-name: fadeOutIn;
	animation-duration: 500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.loader-box:nth-child(1) {
	animation-delay: 250ms;
}

/* (1/2) * <animation-duration: 500ms */
.loader-box:nth-child(2) {
	animation-delay: 500ms;
}

/* (2/2) * <animation-duration: 500ms */
.loader-box:nth-child(3) {
	animation-delay: 750ms;
}

/* (3/2) * <animation-duration: 500ms */

@keyframes fadeOutIn {
	0% {
		background-color: var(--theme-color);
	}
	100% {
		background-color: rgba(0, 146, 255, 0);
	}
}
