@import "_themes.scss";
@import "_fileManager-nav.scss";
@import "_fileManager-sidenav.scss";


body {
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--background-color);
    color: var(--default-text-color);
}

#filemanager-container {
    padding: 10px;
}

.v-wrapper {
    $V-TREE-PADDING: 10px;
    .v-left {
        /* navigational tree view */
        background-color: var(--control-color);
        width: 16%;
        height: calc(100vh - 65px);
        float: left;

        .tree-container {
            padding: 10px;
        }
    }
    .v-right {
        /* file content view */
        width: 84%;
        float: right;
        word-wrap: break-word;

    }

    .fullwidth {
        width: 100%;
    }

    .hidden {
        width: 0%;
    }
}

.fm-fileview {
    padding: 10px;

    .pathContainer {
        display: table;
        margin: 0 auto;
        vertical-align: middle;
        width: 100%;
        border: 1px solid var(--control-hover-color);
        padding: 0.2rem;
        margin-bottom: 0.5rem;
        button {
            background-color: transparent;
            border: none;
            color: var(--maximum-color);
            font-size: 1.2rem;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            :hover {
                color: var(--theme-hover-color);
            }
            :active {
                color: var(--theme-active-color);
            }
        }
        span {
            font-size: 0.8rem;
            vertical-align: middle;
            line-height: 1.2rem;
        }
        
    }

    /* file structure */
    table {
        width: 100%;
        th {

        }
    }
}