body {
    /* FF Must be loaded from fontface.css (fallback specified) */
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;

    /* set theme background color */
    //background-color: #2b445a;

    /* gradient for supporting browsers */
    background: url('/static-resx/img/sb-background-waves-alt3.png') #2b445a no-repeat center center fixed;
    background-color: rgba(43, 68, 90, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    -webkit-background-size: cover; /* Safari & older Chrome */
    -moz-background-size: cover; /* Firefox */
    -o-background-size: cover; /* Opera */
    
    /*background: linear-gradient(to bottom, #253b4f, #1a2e3d) fixed;
    background: -webkit-gradient(linear, left top, left bottom, from(#253b4f), to(#1a2e3d)) fixed;
    background: -o-linear-gradient(top, #253b4f, #1a2e3d) fixed;
    background: -moz-linear-gradient(top, #253b4f, #1a2e3d) fixed;*/
    

    .login-center {
        /* Centered in the middle of the page */
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 2rem;

        color: #FFFFFF;

        @media (max-width: 750px) {
            /* On mobile, login-center should be 90% width */
            width: 90%;
        }
    }
}

footer {
    /* Footer should be at the bottom of the page */
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #dddddd;

    p {
        /* small text, white */
        font-size: 0.7rem;
        color: #fff;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        margin-left: 1rem;
        padding: 0px;
    }
}

.logo {
    width: 15vw;
    min-width: 200px;
}

.field_reveal {
    width: 100%;

    /* When hiding/showing, ease-in-out transition */
    transition: all ease-in-out 0.5s;

    input {
        width: calc(100% - 2rem);
        line-height: 1.5;
        padding: 6px 12px;
    }

    button {
        margin-top: 1rem;
        width: 100%;
        line-height: 1.5;
        padding: 6px 12px;
        text-align: center;

        background-color: #406586;
        color: white;
        border: 0px;
        border-radius: 0.25rem;

        transition: all ease-in-out 0.1s;

        img {
            /* It is a preloader */
            height: 1rem;
        }

        &:hover {
            background-color: #4b7497;
        }

        &:active {
            background-color: #3a5a73;
        }

        i {
            font-size: 1.2rem;
        }
    }

    a {
        text-align: left;
        /* align to the left of parent */
        float: left;
        margin-top: 1rem;
        /* no underline */
        text-decoration: none;
        transition: all 0.1s ease-in-out;

        &:hover {
            color: #2977bb;
        }

        &:active {
            color: #0091ff;
        }
    }
}

.error-text {
    color: #ff0000;
}
